$lightPurple : rgb(64, 64, 89);
$darkPurple : rgb(34,34,58);
$lightGray : rgb(200, 200, 200);
$lightishGray : rgb(70,70,70);
$medgray : rgb(24, 24, 27);
$darkgray : rgb(12,12,14);
$transparentWhite : rgba(255, 255, 255,0.1);
$transparentGray : rgba(179, 179, 179,1);

html {
scroll-behavior: smooth;
font-size: 62.5%;
}

body {
margin: auto 0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#18181b), to(#0c0c0e));
background-image: linear-gradient(#18181b, #0c0c0e);
color: white;
font-family: 'Poppins', sans-serif;
}

.main-nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
list-style: none;
margin-left: auto;
}

li {
margin: 15px;
font-size: 1.4rem;
-webkit-transition: 0.2s;
transition: 0.2s;
}

li:hover {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
}

.nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.fadeIn {
opacity: 0;
transition: opacity 250ms ease-in;
}

.appear {
    opacity:1;
}

.fromLeft {
    transform: translateX(-20%);
    opacity:0;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.fromRight {
    transform: translateX(20%);
    opacity:0;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}

.fromLeft.appear, .fromRight.appear {
    transform: translateX(0);
    opacity:1;
}


.coverContent h1 {
font-size: 3.6rem;
margin: 0;
padding: 0;
color: white;
}

a {
text-decoration: none;
color: white;
font-weight: 400;
}

.cover {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
overflow: hidden;
height: 90vh;
}

.coverContent {
position: relative;
z-index: 1;
margin: 0 auto;
max-width: 900px;
text-align: center;
}

.subHeader {
    font-size: 1.5rem;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.half-grid-wrapper {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
/* flex-wrap: wrap;
    flex-shrink: 0; */
width: 35%;
margin: auto;
}

.box > img {
width: 100%;
}

.box {
width: 300px;
margin: auto;
padding-right: 10px;
}

.icon {
width: 55px;
margin: auto;
padding: 10px;
}

.glow {
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.glow:hover {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
}

.aboutText {
width: 40%;
font-size: 1.5rem;
margin: auto;
}

.aboutSection {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
height: 50vh;
}

.projectSection {
margin-top: 20vh;
padding: 100px;
}

.projectCard {
border-radius: 25px;
border: 3px solid rgba(255, 255, 255, 0.1);
-webkit-transition: 0.2s;
transition: 0.2s;
}

.projectCard:hover {
border: 3px solid;
-webkit-transform: scale(1.05);
        transform: scale(1.05);
cursor: pointer;
}

footer {
background-image: -webkit-gradient(linear, left top, left bottom, from(#404059), to(#22223a));
background-image: linear-gradient(#404059, #22223a);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border: 1px solid rgba(255, 255, 255, 0.1);
border-bottom: 0px;
border-radius: 100px 100px 0px 0px;
width: 300px;
margin: auto;
-webkit-transition: 0.2s;
transition: 0.2s;
}

footer:hover {
border: 1px solid white;
}

footer > ul > li {
float: left;
list-style-type: none;
margin: 0;
padding-bottom: 0;
font-size: 1.4rem;
}

.logo {
width: 25px;
height: 25px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.logo:hover {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
cursor: pointer;
}

.logoDiv {
width: 200px;
margin-bottom: 50px;
}

.purpleSpan {
background: -webkit-linear-gradient(#404059, #22223a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.greySpan {
background: -webkit-linear-gradient(#c8c8c8, #464646);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h3 {
    font-size: 2.2rem;
}

.projectDescription{
    font-size:1.4rem;
}

h4 {
color: white;
font-weight: 400;
font-size: 1.4rem;
text-align: center;
padding-top: 10px;
margin-bottom: 0;
margin-top: 0;
}

body > footer > ul > li > a {
padding-left: 10px;
padding-right: 10px;
color: white;
font-weight: 100;
}

body > footer > ul {
padding: 0;
}

.footerLinks {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-top: 0;
margin-bottom: 0;
}


@media only screen and (max-width: 1200px) {

    .grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    }



@media only screen and (max-width: 950px) {
    .aboutText {
        font-size: 1.4rem;
    }
    .half-grid-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        width: 35%;
        margin: auto;
    }
    }

@media only screen and (max-width: 800px) {
    html {
        font-size: 55%;
    }
.icon {
    width: 60px;
    margin: auto;
    padding: 10px;
}
.main-nav {
    list-style: none;
    margin: auto;
    padding: 0;
    padding-top: 20px;
    margin: auto;
}
.projectSection {
    margin-top: 20vh;
}

.grid-wrapper {
    grid-template-columns: 1fr;
}

}